title: Spencer Bull
description: Distinguished Engineer at Dell Technologies. Building AI on the edge.
baseurl: ""
url: "https://spencerbull.github.io"

# Build settings
markdown: kramdown
highlighter: rouge

# Defaults
defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      author: "Spencer Bull"

# Exclude from processing
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
